$general_styles:(
  bg-color: rgba(0,0,0,.6),
  mx: 0 auto 0,
  to-uppecase:uppercase,
  opacity:.6,
  to-lowercase: lowercase,
);

$colors: (
  light-white: #ccc,
  white:#fff,
  dark: #000,
  light-dark: #1A1110,
);